[defaults]
inventory = inventory
remote_user = devops
ask_pass = false
roles_path = roles:/usr/share/ansible/roles
collections_paths = collections:/usr/share/ansible/collections
log_path = /home/student/ansiblelog.txt

[privilege_escalation]
become = true
become_user = root
become_method = sudo
become_ask_pass = false
