Welcome to the {{ ansible_facts['hostname'] }}
You are accessing {{ ansible_facts['fqdn'] }}
the machine ip address is {{ ansible_facts.default_ipv4.address }} and currently avaible memroy is {{ ansible_memtotal_mb }} MB.
